body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf9f6;
    padding: 1rem;
}
.nav ul li a:hover{
    color:#6b8e23;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}
.logo {
    color: #4b3621; 
    font-size: 1.5rem; 
    font-weight: bold; 
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav ul li a {
    color: #4b3621;
    text-decoration: none;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button1, .button2 {
    background-color: #6b8e23;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.button1:hover, .button2:hover {
    background-color: #c2b280;
    transform: scale(1.15);
}
